node_modules
.env
package-lock.json
.DS_Store
Archive

services/user-services/node_modules
services/user-services/.env.dev
services/user-services/.env.prod
services/user-services/.env.staging
services/user-services/package-lock.json
services/user-services/.DS_Store
services/user-services/src/migrate-mongo-config.js
services/user-services/src/logs

helper/third-party-cred/*