name: Deploy Node.js App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/node-app/shivalik-smart-society-backend
            echo "Pulling latest code..."
            git pull origin main
            cd services/society-services
            echo "Installing dependencies..."
            npm install --production
            echo "Restarting app..."
            pm2 restart my-node-app || pm2 start src/index.js --name my-node-app
            pm2 save
